server.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="exemple" targetNamespace="urn:exemple" xmlns:typens="urn:exemple" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens0="http://localhost/tp-serveur-php-soap/AccessServer.php">
  <message name="getAllRecipes"/>
  <message name="getAllRecipesResponse">
    <part name="getAllRecipesReturn"/>
  </message>
  <message name="addRecipe">
    <part name="recipe" element="typens:recipe"/>
  </message>
  <message name="addRecipeResponse">
    <part name="addRecipeReturn"/>
  </message>
  <message name="deleteRecipe">
    <part name="recipe" element="typens:recipe"/>
  </message>
  <message name="deleteRecipeResponse">
    <part name="deleteRecipeReturn"/>
  </message>
  <portType name="essai_instancePortType">
    <operation name="getAllRecipes">
      <input message="typens:getAllRecipes"/>
      <output message="typens:getAllRecipesResponse"/>
    </operation>
    <operation name="addRecipe">
      <input message="typens:addRecipe"/>
      <output message="typens:addRecipeResponse"/>
    </operation>
    <operation name="deleteRecipe">
      <input message="typens:deleteRecipe"/>
      <output message="typens:deleteRecipeResponse"/>
    </operation>
  </portType>
  <binding name="essai_instanceBinding" type="typens:essai_instancePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAllRecipes">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="addRecipe">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="deleteRecipe">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="exempleService">
    <port name="essai_instancePort" binding="typens:essai_instanceBinding">
      <soap:address location="http://localhost/tp-serveur-php-soap/AccessServer.php"/>
    </port>
  </service>
</definitions>
